h1{
    text-align: center;

}
#main{
    display: flex;

}
.pic{
    height: 280px;
    width:250px;
}
.mydiv{
    margin-right: 20px;
}
button{
    background-color: mediumpurple;
    height: 50px;
    width: 100px;
    border-radius: 10px;
}