<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'about.css' %}">


</head>
<body>
<a href="{% url 'home' %}">home</a>
<a href="{% url 'gallery' %}">gallery</a>

<h1>Additional Information about Quickdash</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, doloribus, dolorum! A ea, est excepturi incidunt laudantium nostrum reiciendis? Aut doloremque est impedit inventore minima molestiae quisquam recusandae tempora vel.</span><span>Delectus dicta, hic ipsa ipsam iusto laboriosam nemo officiis, quasi quidem saepe suscipit voluptatem. Accusantium animi consequuntur, cum deserunt, dignissimos eaque esse harum iste magnam omnis quisquam quod suscipit voluptatem?</span><span>Aspernatur beatae culpa deserunt dolorem doloribus enim fuga molestias, numquam odio quae, quo quod? Aspernatur cupiditate deleniti distinctio eaque et facere inventore labore mollitia nulla perspiciatis? Accusamus autem minus sunt.</span><span>Alias aliquid at atque aut autem cumque ea eligendi, fuga ipsam, mollitia non nulla odit, optio pariatur perferendis quae quasi quisquam repellat rerum sequi sit suscipit ut veniam veritatis voluptates.</span></p>
<h2>Why Choose us?</h2>
<div id="main">
    <div class="mydiv">
        <img src="{% static 'assets/img_7.png' %}" alt="" class="pic">
        <h3>Watch</h3>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut eum iste nisi saepe vitae? Beatae corporis dolores eius excepturi exercitationem harum id libero, quisquam ratione tempora tempore, vero voluptatem.</span><span>Consequatur culpa dolores quae veritatis. Accusantium assumenda, aut beatae commodi dignissimos eaque, eos error esse explicabo inventore iste minima molestias nobis nulla omnis perspiciatis quidem quos ullam vel voluptas voluptatem!</span><span>Doloribus facilis nam quo vitae. Minima molestias natus possimus. Ab animi beatae delectus eius error eveniet, fugiat incidunt maxime necessitatibus numquam praesentium, quae quisquam reiciendis repellendus sequi similique tempore voluptate.</span></p>
       <button>More</button>

    </div>


    <div class="mydiv">
        <img src="{% static 'assets/img_8.png' %}" alt="" class="pic">
        <h3>Watch 2</h3>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut eum iste nisi saepe vitae? Beatae corporis dolores eius excepturi exercitationem harum id libero, quisquam ratione tempora tempore, vero voluptatem.</span><span>Consequatur culpa dolores quae veritatis. Accusantium assumenda, aut beatae commodi dignissimos eaque, eos error esse explicabo inventore iste minima molestias nobis nulla omnis perspiciatis quidem quos ullam vel voluptas voluptatem!</span><span>Doloribus facilis nam quo vitae. Minima molestias natus possimus. Ab animi beatae delectus eius error eveniet, fugiat incidunt maxime necessitatibus numquam praesentium, quae quisquam reiciendis repellendus sequi similique tempore voluptate.</span></p>
       <button>More</button>
    </div>



    <div class="mydiv">
          <img src="{% static 'assets/img_9.png' %}" alt="" class="pic">
        <h3>Watch 3</h3>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aut eum iste nisi saepe vitae? Beatae corporis dolores eius excepturi exercitationem harum id libero, quisquam ratione tempora tempore, vero voluptatem.</span><span>Consequatur culpa dolores quae veritatis. Accusantium assumenda, aut beatae commodi dignissimos eaque, eos error esse explicabo inventore iste minima molestias nobis nulla omnis perspiciatis quidem quos ullam vel voluptas voluptatem!</span><span>Doloribus facilis nam quo vitae. Minima molestias natus possimus. Ab animi beatae delectus eius error eveniet, fugiat incidunt maxime necessitatibus numquam praesentium, quae quisquam reiciendis repellendus sequi similique tempore voluptate.</span></p>
       <button>More</button>
    </div>



</div>



</body>
</html>