<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product</title>
    {% load static %}

     <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js ' %}"></script>


</head>
<body>
<h1 class="text-center text-warning mt-5">PRODUCT INFORMATION</h1>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem ducimus enim eum ipsa, iusto optio porro quaerat quas. Aliquid at aut, autem error excepturi illo illum ipsa odit recusandae reiciendis!</span><span>Adipisci amet assumenda, dolor doloremque eum ex excepturi explicabo fuga hic ipsum itaque minima, modi nemo odit optio pariatur perferendis possimus quam quisquam quo rerum tempora velit vero voluptates voluptatibus!</span><span>Alias aspernatur eius, enim excepturi facere harum ipsum itaque iure magnam maiores, numquam quam, quod saepe sed soluta tempore tenetur totam vero voluptas voluptates. Cumque harum magnam nobis nostrum vitae.</span></p>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi architecto aut, consequatur cum deserunt doloremque ducimus eos error, ipsum laboriosam modi nemo omnis provident quia rem soluta, suscipit voluptate voluptatibus!</span><span>Ad assumenda aut cum deleniti distinctio eaque earum eius eligendi esse exercitationem expedita explicabo ipsum iusto magni natus nesciunt nulla obcaecati odio, officiis porro provident quis sed sunt unde vel.</span><span>Ab ad corporis cumque cupiditate delectus distinctio enim, fugit harum laboriosam laudantium libero molestiae, nemo, nesciunt odit quidem soluta tenetur. Accusantium atque, neque nobis quas quasi qui reprehenderit sunt vero?</span></p>
<table class="table border container">
    <tr>
    <th>Product ID</th>
    <th>Product Name</th>
    <th>Product Quality</th>
    <th>Product Quantity</th>
  </tr>
  <tr class="table-info">
    <TD>1.</TD>
    <TD>Wheat</TD>
    <TD>Good</TD>
    <TD>200 Bags</TD>
  </tr>
  <tr class="table-danger">
    <td>2.</td>
    <td>Rice</td>
    <td>Good</td>
    <td>250 Bags</td>
  </tr>
  <tr class="table-warning">
    <td>3.</td>
    <td>Sugar</td>
    <td>Good</td>
    <td>200 Bags</td>
  </tr>
  <tr>
    <td>4.</td>
    <td>Sugar</td>
    <td>Good</td>
    <td>200 Bags</td>
  </tr>
    <tr class="table-success">
    <td>5.</td>
    <td>Sugar</td>
    <td>Good</td>
    <td>200 Bags</td>
  </tr>






</table>


</body>
</html>